:root {
    --fs-2xl: 42px;
    --fs-xl: 16px;
    --fs-md: 13px;
    --fs-lg: 12px;
    --fs-sm: 10px;

    --fw-xl: 600;
    --fw-lg: 500;
    --fw-md: 400;
    --fw-sm: 300;

}


.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fw_xl {
    font-weight: var(--fw-xl);
}

.fw_md {
    font-weight: var(--fw-md);
}

.fw_lg {
    font-weight: var(--fw-lg);
}

.fw_sm {
    font-weight: var(--fw-sm);
}

@media(min-width:768px) {
    :root {
        --fs-2xl: 48px;
        --fs-xl: 20px;
        --fs-md: 16px;
        --fs-lg: 14px;
        --fs-sm: 12px;

        --fw-xl: 700;
        --fs-lg: 600;
        --fs-md: 500;
        --fs-sm: 400;

    }
}