:root {
    --fs-6xl: 38px;
    --fs-5xl: 37px;
    --fs-4xl: 32px;
    --fs-3xl: 22px;
    --fs-2xl: 16px;
    --fs-xl: 13px;
    --fs-lg: 14px;
    --fs-md: 12px;
    --fs-sm: 10px;


    --fw-xl: 700;
    --fw-lg: 600;
    --fw-md: 500;
    --fw-sm: 400;

   

    --bg-lightblue: #2A40C6;
    --bg-blue: #2C49FE;
    --text-blue: #2C49FE;
    --text-light-blue: #2D3CAE;
}

.fw_lg {
    font-weight: var(--fw-lg);
}
.bg-lightblue {
    background-color: var(--bg-lightblue);
}

.bg-blue {
    background-color: var(--bg-blue);
}

.text-blue {
    color: var(--text-blue);
}

.text-light-blue {
    color: var(--text-light-blue);
}

.fs-6xl {
    font-size: var(--fs-6xl);
}

.fs-5xl {
    font-size: var(--fs-5xl);
}

.fs-4xl {
    font-size: var(--fs-4xl);
}

.fs-3xl {
    font-size: var(--fs-3xl);
}



.fs-xl {
    font-size: var(--fs-xl);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-sm {
    font-size: var(--fs-sm);
}






.fs_xl {
    font-size: var(--fs-xl);
}

.fs_md {
    font-size: var(--fs-md);
}


.fw_xl {
    font-weight: var(--fw-xl);
}

.fw_md {
    font-weight: var(--fw-md);
}

.fw_lg {
    font-weight: var(--fw-lg);
}

.fw_sm {
    font-weight: var(--fw-sm);
}



/* media query */


@media(min-width:576px) {
    :root {
        --fs-6xl: 58px;
        --fs-5xl: 42px;
        --fs-4xl: 33px;
        --fs-3xl: 23px;
        --fs-2xl: 17px;
        --fs-xl: 15px;
        --fs-lg: 14px;
        --fs-md: 13px;
        --fs-sm: 11px;
        --fw-xl: 700;
        --fw-lg: 600;
        --fw-md: 500;
        --fw-sm: 400;
    }
}


@media(min-width:768px) {
    :root {
        --fs-6xl: 63px;
        --fs-5xl: 47px;
        --fs-4xl: 34px;
        --fs-3xl: 24px;
        --fs-2xl: 19px;
        --fs-xl: 17px;
        --fs-lg: 15px;
        --fs-md: 13px;
        --fs-sm: 12px;
        --fw-xl: 700;
        --fw-lg: 600;
        --fw-md: 500;
        --fw-sm: 400;
    }
}


@media (min-width:992px) {
    :root {
        --fs-5xl: 64px;
        --fs-4xl: 48px;
        --fs-3xl: 25px;
        --fs-2xl: 20px;
        --fs-xl: 18px;
        --fs-lg: 16px;
        --fs-md: 14px;
        --fs-sm: 12px;




        --fw-xl: 700;
        --fw-lg: 600;
        --fw-md: 500;
        --fw-sm: 400;
    }

@media(min-width:768px) {
    :root {
        --fs-2xl: 48px;
        --fs-xl: 20px;
        --fs-md: 16px;
        --fs-lg: 14px;
        --fs-sm: 12px;

        --fw-xl: 700;
        --fs-lg: 600;
        --fs-md: 500;
        --fs-sm: 400;

    }
}
}