 .margin-top-84 {
     margin-top: 84px;
 }
 .row-7 {
     display: flex;
     flex-direction: row;
     gap: 55px;
     align-items: center;
     justify-content: center;

 }
  .box-8 {
      max-width: 867px;
  }


  .para-12 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: gray;
      margin-bottom: 12px;
  }

  .heading-12 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 48px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #000000;
  }

  .para-13 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: gray;
      margin-bottom: 29px;
  }

  .heading-13 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: gray;
      margin-bottom: 17px;
  }

  .box-type-1 {
      border-radius: 20px;
      box-shadow: 0px 8px 35px 0px #0000001A;
      width: 322px;
      height: 138px;
      border-radius: 20px;
      opacity: 1;
      padding: 13px;
      display: flex;
      flex-direction: row;
      gap: 13px;
      align-items: center;
      justify-content: center;
  }

  .h-p-box-1 {
      display: flex;
      flex-direction: column;
      gap: 5px;
  }

  .heading-14 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: 0%;
      color: black;
  }

  .para-14 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #666666;
  }

  .box-row-1 {
      display: flex;
      flex-direction: row;
      gap: 12px;
      flex-wrap: wrap;
  }

  .box-type-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 171px;
      height: 138px;
      border-radius: 20px;
      opacity: 1;
      background-color: #EAEDFF;
  }

  .heading-15 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 36px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
      color: #5E5F66;
      opacity: 1;
  }

  .box-type-3 {
      border-radius: 30px;
      background: #FFFFFF;
      box-shadow: 0px 8px 35px 0px #0000001A;
      padding: 34px;
      height: auto;
  }

  .card-1 {
      max-width: 553px;
  }

  .comments-box {
      display: flex;
      flex-direction: row;
      gap: 40px;
      align-items: center;
  }

  .box-1 {
      display: flex;
      flex-direction: row;
      gap: 23px;
      align-items: center;
      margin-bottom: 45px;
  }

  .heading-17 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #000000;
  }

  .h-p-box-2 {
      display: flex;
      flex-direction: column;
  }

  .para-15 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #666666;
  }

  .box-2 {
      background: #FFFFFF;
      width: 100px;
      height: 100px;
      padding: 11px 20px;
      opacity: 1;
      border-radius: 20px;
      position: relative;
      z-index: 1;
      top: 350px;
      right: 150px;
  }

  .heading-19 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 36px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
      color: #666666;
  }

  .para-21 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      text-align: center;
      color: #666666;
  }

  .heading-18 {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #000000;
      margin-bottom: 8px;
  }

  .para-16 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #666666;
      align-items: center;
      display: flex;
      gap: 8px;
      margin-bottom: 20px;
  }
  .para-17 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #666666;
      margin-bottom: 13px;
  }

  .para-18 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #666666;
      margin-bottom: 26px;
  }

  .para-19 {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #000000;
  }

  .para-20 {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #000000;
      cursor: pointer;
  }

  .card-2 {
      width: 50%;
      display: flex;
      flex-direction: row;
      gap: 30px;
  }

  .flex-box-1 {
      display: flex;
      flex-direction: column;
      gap: 30px;
  }

  .card-box {
      display: flex;
      flex-direction: row;
      gap: 30px;
  }

  .comment {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #666666;
      width: 100%;
      min-height: 70px;
      opacity: 1;
      border-radius: 35px;
      border: 1px solid #9CA1BE;
      padding: 8px 12px;
      padding-left: 85px;
      text-overflow: ellipsis;
      margin-top: 26px;
      padding-right: 250px;
  }

  .box-4 {
      position: relative;
  }

  .box-4-2 {
      position: relative;
  }

  .post-comment {
      width: 230px;
      height: 56px;
      opacity: 1;
      border-radius: 36px;
      gap: 10px;
      background-color: #2C49FE;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0%;
      cursor: pointer;
      color: white;
      border: none;
      position: absolute;
      left: 986px;
      top: 34px;
  }

  .post-comment-2 {
      width: 230px;
      height: 56px;
      opacity: 1;
      border-radius: 36px;
      gap: 10px;
      background-color: #2C49FE;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 18px;
      line-height: 150%;
      letter-spacing: 0%;
      cursor: pointer;
      color: white;
      border: none;
      position: absolute;
      left: 1058px;
      top: 34px;
  }

  .box-type-5 {
      margin-top: 34px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      width: "100%";
      height: "auto"
  }

  .box-5 {
      display: flex;
      flex-direction: row;
      gap: 20px;
  }

  .username-box {
      width: 1166;
      height: 116;
      opacity: 1;
      gap: 10px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-top: 14px;
      padding-right: 20px;
      padding-bottom: 20px;
      padding-left: 20px;
      background-color: #F1F2F5;
  }

  .heading-20 {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #000000;
  }

  .para-22 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #606162;
  }

  .username-delete-box {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
  }

  .delete-box {
      display: flex;
      flex-direction: row;
      gap: 5px;
      margin-left: 20px;
      align-items: center;
  }

  .para-23 {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #666666;
  }
  