@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    box-sizing: border-box;
    list-style-type: none !important;
}

/* navbar fixed */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 0.3s ease;
   
}
.navbar-inner {
    width: 100%;
    
   
}
.nav-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.menu-list {
    display: flex;
    gap: 30px;
}

.w-100{
    width: 100%;
}
/* scroll pe blur */
.navbar-scroll {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

/* default text */
.nav-attribute {
    color: white;
    text-decoration: none;
    
}

/* FEED PAGE STYLE */
.navbar-feed {
    background: white !important;
    backdrop-filter: none;
}

.navbar-feed .nav-attribute,
.navbar-feed .nav-button {
    color: black !important;
}

.menu-icon span {
    background: currentColor;
}


.navbar-feed .menu-icon {
    color: black;
}
.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.header {
    max-width: 1920px;
    min-height: 100vh;
    background-image: url(/src/assets/images/events.png);
        background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 17px;
    padding-bottom: 104px;
    
}
 .header::after {
     content: '';
     background: #00000091;
     position: absolute;
     width: 100%;
     top: 0;
     left: 0;
     height: 107%;
 }


.menu-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 9999;
   
}

.menu-icon span {
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transition: 0.9s ease;
}


.nav-button {
    border-radius: 23px;
    padding: 11px 28px;
    background-color: #2C49FE;
    border: none;
    line-height: 150%;
    font-family: Poppins;
    margin-left: 50px;
    transition: all 100ms linear;
}

.nav-button:hover {
    background-color: white;
    color: #293FC6 !important;
    scale: 1.06;
}

.nav-attribute {
    transition: all 100ms linear;
}

.nav-attribute:hover {
    font-weight: bold !important;
    scale: 1.09;
    cursor: pointer;
}

.header-heading {
    max-width: 1044px;
    z-index: 1;
}

.text-nowrap {
    text-wrap: nowrap !important;
}

.line {
    right: 0%;
    top: 110px;
}

.header-logo {
    transition: scale 100ms linear;
}

.header-logo:hover {
    cursor: pointer;
    scale: 1.06;
}

.header-heading {
    font-family: Poppins;
    line-height: 150%;
    margin-top: 173px;
}

.caption {
    font-family: Yantramanav;
    line-height: 100%;
    max-width: 765px;
   
}
.text-light {
    z-index: 1;
}
.input-error {
    border: 2px solid red !important;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 4px;
    display: block;
}

.learn-more {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
}

.w-309 {
    max-width: 309px;
}

.get-started {
    font-family: Poppins;
    line-height: 150%;
}

.header-button {
    padding: 11px 28px;
    border-radius: 28px;
    border: none;
    transition: all 100ms linear;
}

.header-button:hover {
    background-color: #FFFFFF;
    color: #293fc6 !important;
    scale: 1.06;
}

.pt-33 {
    padding-top: 33px;
}

.gap-30 {
    gap: 30px;
}

.section2 {
    max-width: 1920px;
    min-height: 100vh;
    padding-top: 137px;
    padding-bottom: 73px;
}

.section2-heading {
    font-family: Poppins;
    line-height: 100%;
    padding-top: 21px;
}

.section2-description {
    max-width: 633px;
    font-family: Poppins;
    line-height: 100%;
    opacity: 70%;
    padding-top: 6px;

}

.section2-card {
    max-width: 260px;
    border-width: 1px;
    border-radius: 5px;
    border: 1px solid #2C49FE;
    transition: all 100ms linear;
}

.section2-card:hover {
    background-color: #2C49FE;
    cursor: pointer;
}

.card-heading {
    font-family: Poppins;
    line-height: 100%;
}

.card-description {
    font-family: Poppins;
    line-height: 150%;
    text-align: center;
}

.card-data {
    padding: 45px 20px 17px 20px;
}

.card-circle {
    width: 79px;
    height: 79px;
    border-width: 2px;
    border: 2px solid #2C49FE;
    border-radius: 50%;
    top: -40px;
    left: 90px;
    background-color: #FFFFFF;
}

.mt-20 {
    margin-top: 35px;
}

.section2-card:hover .card-data h4 {
    color: #FFFFFF;
}

.section2-card:hover .card-data p {
    color: #FFFFFF;
}

.section3 {
    max-width: 1920px;
    background-image: url(/src/assets/images/section3-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

.section3-heading {
    font-family: "Poppins";
    max-width: 708px;
    line-height: 130%;
    text-align: center;
}

.section3-description {
    font-family: Poppins;
    line-height: 100%;
    text-align: center;
    max-width: 765px;
}

.number {
    font-family: Poppins;
    font-size: 35px;
    line-height: 100%;
    margin-top: 10px;
}

.data {
    font-family: Poppins;
    line-height: 100%;
}

.mw-920 {
    max-width: 920px;
}

.pt-78 {
    padding-top: 78px;
}

.section4 {
    max-width: 1920px;
    min-height: 100vh;
    padding-top: 122px;
    padding-bottom: 90px;
}

.section4-heading {
    font-family: Poppins;
    max-width: 338px;
    line-height: 137%;
    font-weight: 700;
    font-size: 48px;
}

.section4-description {
    font-family: Poppins;
    line-height: 100%;
    opacity: 70%;
    max-width: 543px;
}

.learn-more {
    font-family: Poppins;
    line-height: 100%;
    transition: all 100ms linear;
}

.learn-more:hover {
    text-decoration: underline !important;
}

.section4-card {
    max-width: 339px;
    padding-top: 10px;
    padding-bottom: 24px;
    padding-left: 13px;
    padding-right: 13px;
    transition: box shadow 100ms linear;
    transition: scale 100ms linear;
}

.section4-card:hover {
    scale: 1.05;
    box-shadow: 2px 9px 32px 0px #0000000F;
    cursor: pointer;
}

.card-date {
    font-family: Poppins;
    font-size: 14px;
    line-height: 100%;
    padding-top: 13px;
    opacity: 70%;
}

.section4-card-heading {
    font-family: Poppins;
    font-size: 24px;
    line-height: 100%;
}

.section4-card-caption {
    font-family: Poppins;
    line-height: 100%;
    opacity: 70%;
    max-width: 270px;
}

.gap-20 {
    gap: 20px;
}

.gap-24 {
    gap: 24px;
}

.mb-168 {
    margin-bottom: 168px;
}

.join-us {
    font-family: Poppins;
    line-height: 100%;
}

.section4-caption {
    font-family: Poppins;
    opacity: 70%;
    line-height: 100%;
    max-width: 543px;
}

.sign-up {
    font-family: Poppins;
    line-height: 100%;
    margin-bottom: 20px;
}

.textarea {
    min-height: 124px;
    resize: none !important;
    margin-bottom: 37px !important;
    padding-left: 17px;
}

.px-17 {
    padding-left: 17px;
    padding-right: 17px;
}

.mb-16 {
    margin-bottom: 16px;
}


.mt-10 {
    margin-top: 10px !important;
}

.form-button {

    justify-content: space-between;
    border-radius: 23px;
    padding: 11px 28px;
    border: none;
    transition: scale 100ms linear;
}

.form-button:hover {
    scale: 1.09;
}

.w-90 {
    width: 90%;
}

.mb-9 {
    margin-bottom: 9px;
}

.footer {
    max-width: 1920px;
    background-color: #000000;
    padding-top: 81px;

}

.footer-description {
    font-family: Poppins;
    line-height: 100%;
    padding-top: 36px;
    max-width: 346px;
}

.width-100 {
    width: 100px;
}

.social-media:hover {
    scale: 1.2;
    cursor: pointer;
}

.main {
    font-family: Poppins;
    line-height: 100%;
    margin-bottom: 12px;
}

.sub-main {
    font-family: Poppins;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}

.sub-main:hover {
    cursor: pointer;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 18px;
}

.div11 {
    grid-area: 1 / 1 / 2 / 2;
}

.div12 {
    grid-area: 1 / 2 / 2 / 3;
}

.div31 {
    grid-area: 1 / 3 / 2 / 4;
}

.div14 {
    grid-area: 2 / 1 / 3 / 2;
}

.div15 {
    grid-area: 2 / 2 / 3 / 3;
}

/* .div6 {
    grid-area: 2 / 3 / 3 / 4;
} */

.show-box {
    background-color: #18205C;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.show-box:hover {
    cursor: pointer;
}

.show-more {
    font-family: Poppins;
    line-height: 150%;
    text-align: center;
}

.hover:hover{
border: #FFFFFF;
}

.blue-box {
    max-width: 962px;
    padding: 19px 23px;
    background-color: #293FC6;
    border-radius: 50px;
    margin-top: 100px;
    opacity: 74%;
}

.bluebox-main {
    font-family: Yantramanav;
    line-height: 100%;
    opacity: 1;

}

.bluebox-submain {
    font-family: Yantramanav;
    line-height: 100%;
    opacity: 1;
}

.white-line {
    height: 74px;
    border: solid white;
    width: 0;
}

.w-178 {
    width: 178px;
}

.max-w-203 {
    max-width: 160px;
}

.max-w-98 {
    max-width: 70px;
}

.white-button {
    border-radius: 150px;
    background-color: #FFFFFF;
    transition: scale 100ms linear;
    border: none;
    opacity: 1;
    padding: 20px 40px;

}

.white-button:hover {
    scale: 1.09;
    border: none;
}

.go-check {
    font-family: Poppins;
    line-height: 100%;
    opacity: 1;

}

.mb-50 {
    margin-bottom: 50px;
}

.max-w-24 {
    max-width: 24px;
}

.max-w-23 {
    max-width: 23px;
}

.max-w-30 {
    max-width: 30px;
}

.main-card {
    margin-bottom: 30px;
    margin-top: 40px;
}

.show-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.max-w-472 {
    max-width: 240px;
}

.mx-auto {
    margin: auto;
}

.ml-20 {
    margin-left: 20px;
}
.text-events-blue {
    color: #2C49FE !important;
}
nav{
    position: relative;
    top: 0px;
    z-index: 10;
}






/* part-2 */
/* .parent {
    display: grid;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 3 / 4;
}

.div4 {
    grid-area: 2 / 1 / 3 / 3;
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
}

.div6 {
    grid-area: 3 / 2 / 4 / 4;
}
.main-img:hover {
    scale: 1.05;
    cursor: pointer;
}

.main-img {
    transition: scale 100ms linear;
   
}

.main1-img {
    transition: scale 100ms linear;
}

.main1-img:hover {
    scale: 1.02;
    cursor: pointer;
}
.mt-67 {
    margin-top: 67px !important;
}
.tell-us {
    font-family: "Poppins", sans-serif;
    line-height: 150%;
    text-align: center;
    font-weight: bold !important;

}
.mb-24 {
    margin-bottom: 24px;
}
.box2 {
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #F1F2F5;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}
.user-name {
    font-family: "Poppins", sans-serif;
    line-height: 150%;
    font-weight: bolder !important;
}
.comment {
    font-family: "Poppins", sans-serif;
    line-height: 150%;
    color: #606162;
}
.remove-comment {
    font-family: "Poppins", sans-serif;
    line-height: 150%;
    color: #666666;
}
.mt-8 {
    margin-top: 8px;
}
.ml-30 {
    margin-left: 30px;
} */

/* media query */


@media(max-width:992px) {
    .menu-icon {
        width: 40px;
        height: 30px;
        cursor: pointer;
        border: none;
        display: flex;
        flex-direction: column;
        background: unset;
        justify-content: space-between;
        z-index: 2;
    }

    .justify-sm-content {
        justify-content: space-between;
    }

    .menu-icon span {
        width: 100%;
        height: 5px;
        background-color: #E8F1FF;
        border-radius: 5px;
        transition: all 100ms linear;
    }

    .menu-list {
        flex-direction: column !important;
        justify-content: center;
        top: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 85.54%, rgba(255, 255, 255, 0) 100%);
        backdrop-filter: blur(17px);
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 1;
        transition: all 100ms linear;
    }

    .flex-md-row-reverse {
        flex-direction: row-reverse;
    }

    .menu-list.show {
        right: 0;
    }

    .activeNavBar .menu-icon span:first-child {
        transform: rotate(45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon span:nth-child(2) {
        display: none;
        pointer-events: none;
    }

    .activeNavBar .menu-icon span:last-child {
        transform: rotate(-45deg);
        transform-origin: left;
    }

    .activeNavBar .menu-icon {
        height: 34px;
    }
}



@media(max-width:425px) {
    .line {
        right: 28%;
        top: 116px;
    }
}

.w-sm-100 {
    width: 100%;
}

@media(max-width:375px) {
    .line {
        right: 4%;
        top: 116px;
    }
}

@media(min-width:576px) {
    .main-card {
        margin-bottom: 30px;
        margin-top: 40px;
    }

    .line {
        right: 10%;
        top: 180px;
    }

    .flex-sm-row {
        flex-direction: row;
    }

    .w-49 {
        width: 49%;
    }

    .ml-20 {
        margin-left: 0px;
    }


    .white-button {
        padding: 12px 20px;
        margin-left: 0px;
    }

    .max-w-472 {
        max-width: 320px;
    }

    .max-w-203 {
        max-width: 203px;
    }

    .max-w-98 {
        max-width: 98px;
    }

    .max-w-316 {
        max-width: 316px;
    }


    @media(min-width:768px) {
        .line {
            right: 6%;
            top: 100px;

        }

        .blue-box {
            border-radius: 150px;
            margin-top: 145px;
        }



    }

    .card-circle {
        top: -40px;
        left: 90px;
    }

    .width-md-150 {
        width: 150px;
    }

    .white-button {
        padding: 20px 28px;
        margin-left: 10px;
    }

    .flex-md-row {
        flex-direction: row;
    }

    .ml-20 {
        margin-left: 0px;
    }

}

@media(min-width:992px) {
    .line {
        right: 20%;
        top: 100px;
    }

    .card-circle {
        top: -40px;
        left: 90px;
    }

    .width-lg-178 {
        width: 178px;
    }

    .white-button {
        padding: 20px 39px;
        margin-left: 0;
    }

    .mb-lg-168 {
        margin-bottom: 168px;
    }

    .max-w-472 {
        max-width: 472px;
    }

    .ml-20 {
        margin-left: 0px;
    }


}
.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(0px, 17px);
}

.menu-icon.open span:nth-child(2) {
    transform: translate(-10px);
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -17px);
}
@media (max-width: 991px) {

    .menu-list {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(14px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 999;
    }

    .menu-list.show {
        transform: translateX(0);
    }

    .menu-list a,
    .menu-list button {
        font-size: 22px;
        color: white;
        margin: 12px 0;
    }

    .menu-icon {
        font-size: 28px;
        color: white;
        z-index: 1000;
    }
}