@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none !important;
}
.mt-87 {
    margin-top: 87px !important;
}
.cursor {
    cursor: pointer;
}
.font-family {
    font-family: "Poppins", sans-serif;
}
.line-height-150 {
    line-height: 150%;
}
.line-height-100 {
    line-height: 100%;
}

.transition {
    transition: all 100ms linear;
}

.logo:hover {
    cursor: pointer;
    scale: 1.06;
}
.card1 {
    border-radius: 20px;
    padding: 13px;
    border: 1px solid #00000033;
    margin-right: 20px;

}

.card2 {
    max-width: 171px;
    border-radius: 20px;
    padding: 30px 55px;
}

.card3 {
    padding: 28px;
    border: 1px solid #00000033;
    border-radius: 30px;
}

.parent {
    display: grid;
    margin: auto;
}
.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 3 / 1 / 4 / 2;
}

.div4 {
    grid-area: 4 / 1 / 5 /2;
}

.image {
    border-radius: 20px;
    cursor: pointer;
}

.image:hover {
    scale: 1.06;
}

.column-gap-29 {
    column-gap: 29px;
}

.box1 {
    max-width: 100px;
    height: 100px;
    padding: 3px 15px;
    border-radius: 20px;
    top: 40%;
    right: 3%;
}

.post-comment {
    border: none;
    padding: 13px 28px;
    border-radius: 36px;

}

::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: var(--fw-sm);
    font-size: var(--fs-lg);
    line-height: 150%;
}

.input {
    border-radius: 35px;
    border: 1px solid #9CA1BE;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    padding-left: 85px;
    margin-top: 40px;
    height: 57px;
    width: 100%;
}

.box2 {
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #F1F2F5;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.box3 {
    padding: 34px;
    border: 1px solid #00000033;
    border-radius: 30px;
} 
