.custom-btn {
    background-color: #2C49FE;
    padding: 11px 28px;
    /* py-2.75 ≈ 11px, px-7 ≈ 28px */
    border-radius: 23px;
    font-family: 'Poppins', sans-serif;
    line-height: 150%;
    letter-spacing: 0%;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    color: white;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: white;
        color: #293FC6 !important;
        scale: 1.06;
    
    
}